<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>com.umrwhk.servlet.HelloWorld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloForm</servlet-name>
        <servlet-class>com.umrwhk.servlet.HelloForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckBox</servlet-name>
        <servlet-class>com.umrwhk.servlet.CheckBox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeaderRequest</servlet-name>
        <servlet-class>com.umrwhk.servlet.HeaderRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeaderResponse</servlet-name>
        <servlet-class>com.umrwhk.servlet.HeaderResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusCode</servlet-name>
        <servlet-class>com.umrwhk.servlet.StatusCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>com.umrwhk.servlet.ErrorHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetCookies</servlet-name>
        <servlet-class>com.umrwhk.servlet.SetCookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadCookies</servlet-name>
        <servlet-class>com.umrwhk.servlet.ReadCookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCookies</servlet-name>
        <servlet-class>com.umrwhk.servlet.DeleteCookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionTrack</servlet-name>
        <servlet-class>com.umrwhk.servlet.SessionTrack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseAccess</servlet-name>
        <servlet-class>com.umrwhk.servlet.DatabaseAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.umrwhk.servlet.UploadFile</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/helloworld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloForm</servlet-name>
        <url-pattern>/helloform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckBox</servlet-name>
        <url-pattern>/checkbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeaderRequest</servlet-name>
        <url-pattern>/headerrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeaderResponse</servlet-name>
        <url-pattern>/headerresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusCode</servlet-name>
        <url-pattern>/statuscode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/errorhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetCookies</servlet-name>
        <url-pattern>/setcookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadCookies</servlet-name>
        <url-pattern>/readcookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCookies</servlet-name>
        <url-pattern>/deletecookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionTrack</servlet-name>
        <url-pattern>/sessiontrack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseAccess</servlet-name>
        <url-pattern>/databaseaccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/uploadfile</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Filter</filter-name>
        <filter-class>com.umrwhk.servlet.Filter</filter-class>
        <init-param>
            <param-name>Test-Param</param-name>
            <param-value>Initialization Parameter</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/errorhandler</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorhandler</location>
    </error-page>

    <context-param>
        <param-name>file-upload</param-name>
        <param-value>/opt/tomcat/apache-tomcat-8.5.15/webapps/Servlet/data/</param-value>
    </context-param>
</web-app>